<h3>New User</h3>
<form #userForm="ngForm" autocomplete="off" (ngSubmit)="newUser()">
    Name:<br>
    <input [(ngModel)]="user.name" name="name"><br>
    Email:<br>
    <input [(ngModel)]="user.email" name="email"><br>
    <button>New Entry</button>
</form>

<h3>User List</h3>
<table class="user-data">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td><button (click)="getUserById(user.id)">Edit</button></td>
      <td><button (click)="deleteUserById(user.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
<pre>{{user | json}}</pre>